<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Event</title>
</head>
<body>
    <h1>Are you sure you want to delete this event?</h1>
    <form action="{% url 'event_delete' eventid=event.eventid %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Confirm Delete">
    </form>
    <a href="{% url 'athletic_department:event_list' %}">Cancel</a>
</body>
</html>