<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ equipment.name }}</title>
</head>
<body>
    <h1>{{ equipment.name }}</h1>
    <p><strong>Date:</strong> {{ equipment.date }}</p>
    <p><strong>Season 1 Cost:</strong> {{ equipment.costS1 }}</p>
    <p><strong>Season 1 Income:</strong> {{ equipment.incomeS1 }}</p>
</body>
<a href="{% url 'athletic_department:employee_dashboard' %}"><button>Return to Dashboard</button></a>
</html>